<div class="row m-0 justify-content-center align-items-center vh-100 agenda">
    <div class="container mt-5">
        <div class="card">
            <div class="card-header">
                EDITAR IMAGEN
            </div>
            <div class="card-body">
                {{#each alumno}}
                <label class="form-label">Cambiar imagen ({{this.imagen}})
                    <img src="https://azevaluacionnubes.s3.amazonaws.com/{{this.imagen}}" alt="" width="250px"
                height="150px">
                </label>
                <form action="/alumnos/updateImage{{this.id}}" method="post" enctype="multipart/form-data">
                    <div class="row d-flex">
                        <div class="col-9">
                            <input type="text" hidden="true" required name="imagendelete" id="imagendelete"
                                value="{{this.imagen}}">
                            <input type="file" class="form-control" required name="imagenupdate" id="imagenupdate">
                        </div>
                        <div class="col-3">
                            <input class="btn btn-primary" type="submit" value="Enviar">
                        </div>
                    </div>
                </form>
                {{/each}}
            </div>
        </div>
    </div>
</div>
</div>
</div>