<header class="masthead  text-white text-center">
          <div class="container d-flex align-items-center flex-column parent">
            <div class="parent">
              <img class="masthead-avatar mb-5 image1" src="../img/glitch.png" alt="..." />
              <img class="masthead-avatar mb-5 image2" src="../img/protagonist.png" alt="..." />
            </div>

              <br/>
              <h1 class="masthead-heading text-uppercase mb-0">Ariel Zarate</h1>
              <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class='fa fa-bolt'></i></div>
                <div class="divider-custom-line"></div>
              </div>
              <p class="masthead-subheading font-weight-light mb-0">Programador en desarrollo - Aficionado a los Videojuegos - Seguidor de arte</p>
          </div>
        </header>
        <section class="page-section portfolio" id="portfolio">
          <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Gustos</h2>
            <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fa fa-bolt" aria-hidden="true"></i></div>
              <div class="divider-custom-line"></div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="../img/mando.gif" alt="..." />
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="../img/animu.gif" alt="..." />
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="../img/makoto.gif" alt="..." />
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="../img/comer.gif" alt="..." />
                </div>
              </div>
              <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal5">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="../img/nado.gif" alt="..." />
                </div>
              </div>
              <div class="col-md-6 col-lg-4">
                <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal6">
                  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                  </div>
                  <img class="img-fluid" src="../img/type.gif" alt="..." />
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="page-section  text-white mb-0 holi" id="about" >
          <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-white">Sobre Mi</h2>
            <div class="divider-custom divider-light">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fa fa-bolt" aria-hidden="true"></i></div>
              <div class="divider-custom-line"></div>
            </div>
            <div class="row">
              <div class="col-lg-4 ml-auto"><p class="lead">Soy un joven estudiante el cual, trata de mejorar cada dia en lo que son cosas que lo aficcionan, siendo esto anime,videojuegos y otras cosas. Siempre trato de buscar y conocer algo nuevo.</p></div>
              <div class="col-lg-4 mr-auto"><p class="lead">De esta forma es que he decicido crear esta pequeña pagina web para compartir algunos datos sobre mi, para poder conocernos entre todos</p></div>
            </div>
            <div class="text-center mt-4">
              <a class="btn btn-xl btn-outline-light" href="https://matias.ma/nsfw/">
                <i class="fas fa-random mr-2"></i>
                Pagina Random
              </a>
            </div>
          </div>
        </section>
        <section class="page-section" id="contact">
          <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contactame</h2>
            <div class="divider-custom">
              <div class="divider-custom-line"></div>
              <div class="divider-custom-icon"><i class="fa fa-bolt" aria-hidden="true"></i></div>
              <div class="divider-custom-line"></div>
            </div>
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <form id="contactForm" name="sentMessage" novalidate="novalidate">
                  <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                      <label>Nombre</label>
                      <input class="form-control" id="name" type="text" placeholder="Nombre" required="required" data-validation-required-message="Porfavor ingrese su nombre." />
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                      <label>Email</label>
                      <input class="form-control" id="email" type="email" placeholder="Email" required="required" data-validation-required-message="Porfavor ingrese su email." />
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                      <label>Celular</label>
                      <input class="form-control" id="phone" type="tel" placeholder="Celular" required="required" data-validation-required-message="Porfavor ingrese su numero de telefono." />
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                      <label>Mensaje</label>
                      <textarea class="form-control" id="message" rows="5" placeholder="Mensaje" required="required" data-validation-required-message="Porfavor escriba un mensaje."></textarea>
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <br />
                  <div id="success"></div>
                  <div class="form-group"><button class="btn btn-danger btn-xl" id="sendMessageButton" type="submit">Enviar</button></div>
                </form>
              </div>
            </div>
          </div>
        </section>